name: Test api meme autotests

on: 
  workflow_dispatch:
    inputs: 
      deployment_target:
        description: select tests
        required: true
        type: choice
        default: smoke
        options:
          - smoke
          - regression
          - extended
          - all

permissions:
  contents: read
  pages: write
  id-token: write

jobs:

  Run-tests:
    runs-on: ubuntu-latest
    name: Run autotests
    steps:
      - name: Установка необходимых библиотек
        run: |
          sudo apt-get update
          sudo apt-get install -y libkrb5-dev
      - name: Checkout autotests
        uses: actions/checkout@v3
      - name: set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
      - name: run all tests
        if: "github.event.inputs.deployment_target == 'all'"
        run: pytest --alluredir=allure-results
        continue-on-error: true
      - name: run smoke tests
        if: "github.event.inputs.deployment_target == 'smoke'"
        run: pytest -m smoke --alluredir=allure-results
        continue-on-error: true
      - name: run regression tests
        if: "github.event.inputs.deployment_target == 'regression'"
        run: pytest -m regression --alluredir=allure-results
        continue-on-error: true
      - name: run extended tests
        if: "github.event.inputs.deployment_target == 'extended'"
        run: pytest -m extended --alluredir=allure-results
        continue-on-error: true
      - name: Store allure results
        uses: actions/upload-artifact@v6
        with:
          name: allure-results
          path: allure-results
          retention-days: 1

  publish-report:  # Джоб для публикации отчёта
        needs: Run-tests  # Выполняется после успешного (или завершённого) run-tests
        runs-on: ubuntu-latest  # Тоже запускается в Ubuntu
    
        steps:
          - name: Check out repository
            uses: actions/checkout@v4  # Клонируем репозиторий
            with:
              ref: gh-pages  # Клонируем ветку gh-pages
              path: gh-pages  # Указываем путь, куда клонировать
    
          - name: Download Allure results
            uses: actions/download-artifact@v4  # Загружаем ранее загруженные результаты
            with:
              name: allure-results  # Имя артефакта
              path: allure-results  # Путь куда распаковать
    
          - name: Allure Report action from marketplace
            uses: simple-elf/allure-report-action@v1.12  # Генерируем Allure-отчёт
            if: always()  # Выполняем даже при ошибке
            with:
              allure_results: allure-results  # Путь к результатам
              allure_history: allure-history  # Папка с историей отчётов (для графиков и сравнения)
    
          - name: Download all workflow run artifacts
            uses: actions/download-artifact@v4
          - name: Upload Pages artifact
            uses: actions/upload-pages-artifact@v4
          - name: Deploy to GitHub Pages
            id: deploy
            uses: actions/deploy-pages@v4
